[Unit]
Description=Provisioning firewall service 
After=network-online.target
Wants=network-online.target
ConditionPathExists=/var/aos/.provisionstate
PartOf=aos.target

[Service]
Type=oneshot
ExecStart=/opt/aos/provfirewall.sh

[Install]
WantedBy=multi-user.target
