[Unit]
Description=AOS Message Proxy
Wants=network-online.target aos-iamanager.service
After=network-online.target aos-iamanager.service
ConditionPathExists=/var/aos/.unprovisioned
PartOf=aos.target

[Service]
Type=notify
ExecStart=/usr/bin/aos_messageproxy -c /etc/aos/aos_messageproxy.cfg -provisioning -v debug -j
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
