[Unit]
Description=AOS Communication Manager
Wants=network-online.target aos-iamanager.service
After=network-online.target aos-iamanager.service
ConditionPathExists=/var/aos/.provisionstate
PartOf=aos.target

[Service]
Type=notify
ExecStart=/usr/bin/aos_communicationmanager -c /etc/aos/aos_communicationmanager.cfg -v debug -j
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
