[Unit]
Description=AOS Identity and Access Manager
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/aos/.provisionstate
PartOf=aos.target

[Service]
Type=notify
ExecStart=/usr/bin/aos_iamanager -c /etc/aos/aos_iamanager.cfg -provisioning -v debug -j
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
